<div class="cb-block cb-block--video cb-block--video-wide {{ css_classes }}"{% if inline_style %} style="{{ inline_style }}"{% endif %} data-block-id="{{ block_id ? block_id : 0 }}">
  {% for vid in videos %}
    {% set d = vid.data %}
    {% set p = vid.params %}
    <div class="cb-block--video-wide__item">
      <div class="cb-video-embed cb-ratio cb-ratio-21x9">
        {% if d.local %}
          <video controls{% if p.autoplay %} autoplay muted{% endif %}{% if vid.video_poster %} poster="{{ vid.video_poster }}"{% endif %}>
            <source src="{{ d.local }}">
          </video>
        {% elseif d.video_id %}
          <iframe src="https://www.youtube.com/embed/{{ d.video_id }}{% if p.autoplay %}?autoplay=1&mute=1{% endif %}" allowfullscreen loading="lazy"></iframe>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
